body {
  padding-top: 50px;
  height: 100vh;
  background-color: black;
  /* #9EEFE5; */
}

svg {
  overflow: visible;
}
.audio-controls {
  float: left;
}

.heading {
  display: flex;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Permanent Marker'
}

.sonotouch {
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  font-size: 180px;
  -webkit-transform: skew(-15deg,-15deg);
  padding-left: 80px;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
}

.sonotouch:before {
  content: '-';
  position: absolute;
  bottom: -98px;
  left: 254px;
  background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
  -webkit-background-clip: text;
  text-shadow: 70px -7px #F3C8F3;
}

.sonotouch:after {
  content: '-';
  position: absolute;
  bottom: -85px;
  left: 395px;
  background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
  -webkit-background-clip: text;
  text-shadow: 70px -5px #F3C8F3;
}

.sono-s {
  position: relative;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  padding-right: 18px;
  margin-right: -18px;
}

#main-container {
  display: flex; 
}

#keyboard-container {
  perspective: 400px;
  padding-top: 40px;
}

#keyboard-container ul{
  width: 735px;
  transform: rotateX(20deg);
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  text-align: center;
  margin: 0 5px 5px 5px;
  width: 40px;
  height: 40px;
  background: #13fef394;
  box-shadow: 0em 0.5em 0 #aad9d2;
  transition: all .1s linear;
  color: white;
}

.on {
  background-color:#FF9933;
  transform: translate(0, -1.1em);
}

.delete {
  width: 70px;
}

.tab {
  width: 70px;
}

.caps-lock {
 width: 80px;
}

.return {
  width: 80px;
}

.shift-1 {
  width: 95px;
}

.shift-2 {
  width: 115px;
}

.space {
  width: 720px;
}