body {
  padding-top: 50px;
}
#main-container {
  display: flex;
  
}

#keyboard-container {
  perspective: 400px;
}

#keyboard-container ul{
  width: 735px;
  transform: rotateX(20deg);
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  text-align: center;
  margin: 0 5px 5px 5px;
  width: 40px;
  height: 40px;
  background: #ccc;
  box-shadow: 0em 0.5em 0 #a6a3a3;
  transition: all .1s linear;
}

.on {
  background-color: orange;
  transform: translate(0, -1.1em);
}

.delete {
  width: 70px;
}

.tab {
  width: 70px;
}

.caps-lock {
 width: 80px;
}

.return {
  width: 80px;
}

.shift-1 {
  width: 95px;
}

.shift-2 {
  width: 115px;
}

.space {
  width: 720px;
}